@model List<StudentManagementSystem.Models.Entities.Grade>
<h1>All Grades</h1>
<head>
    <style>
        body {
            background-color: honeydew
        }
    </style>
</head>
<a class="btn btn-success" asp-area="" asp-controller="Grades" asp-action="Add">Add</a>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th> 
        </tr>
    </thead>
    <body>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    <a class="btn btn-success" asp-controller="Grades" asp-action="Edit" asp-route-id="@item.Id">Edit</a>

                </td>
      
            </tr>
        }
    </body>
</table>

