@{
    ViewData["Title"] = "Home Page";
}

<head>
    <style>
        body {
            background-image: url('board.png');
            background-size: cover; 
            background-position: center; 
            background-repeat: no-repeat; 
        }
        .h1{
            font-family: 'Courier New', monospace;
            font-size:60px;
            text-shadow: 2px 2px 4px #000000;
        }
    </style>
</head>
<div class="text-center">
    <h1 class="h1">Welcome!</h1>
</div>
